@import '../../../styles/variables';  // Import global variables
@import '../../../styles/mixins'; 

.car-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: $spacing-unit;
    padding: $spacing-unit;
  
    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
  