@import '../../../styles/variables';

footer {
  background-color: var(--background-color);  
  color: var(--text-color);  
  padding: 2 * $spacing-unit;
  margin-bottom: 0;

  .footer-content {
    display: flex;
    justify-content: space-between;

    .company-info, .social-media, .quick-links {
      width: 30%;

      @media (max-width: 1024px) {
        width: 40%;
      }

      @media (max-width: 768px) {
        width: 100%;
        margin-bottom: $spacing-unit;
      }
    }

    h3, h4 {
      color: var(--secondary-color);  
    }

    ul {
      list-style: none;
      li a {
        color: var(--text-color);  
        text-decoration: none;

        &:hover {
          color: var(--secondary-color);  
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;
    margin-top: $spacing-unit;
    font-size: 0.9rem;

    @media (max-width: 768px) {
      font-size: 0.8rem;
    }
  }
}