
@import '../../../styles/variables';

footer {
    background-color: $primary-color;
    color: white;
    padding: 2 * $spacing-unit;
    margin-bottom: 0;
  
    .footer-content {
      display: flex;
      justify-content: space-between;
  
      .company-info, .social-media, .quick-links {
        width: 30%;  
  
        @media (max-width: 1024px) {  
          width: 40%;
        }
  
        @media (max-width: 768px) {  
          width: 100%;
          margin-bottom: $spacing-unit;  
        }
      }
  
      h3, h4 {
        color: $secondary-color;
      }
  
      ul {
        list-style: none;
        li a {
          color: white;
          text-decoration: none;
          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
  
    .footer-bottom {
      text-align: center;
      margin-top: $spacing-unit;
      font-size: 0.9rem;
  
      @media (max-width: 768px) {  
        font-size: 0.8rem;
      }
    }
  }
  