@import'../../../styles/variables';
@import'../../../styles/mixins';

header {
    padding: $spacing-unit 2 * $spacing-unit;
    background-color: $primary-color;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .logo img {
      height: 75px;  
  
      @media (max-width: 1024px) {  
        height: 60px;
      }
  
      @media (max-width: 768px) {  
        height: 50px;
      }
    }
  
    nav ul {
      list-style: none;
      display: flex;
      gap: $spacing-unit * 2;
  
      li a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem; 
  
        @media (max-width: 1024px) {  
          font-size: 1.1rem;
        }
  
        @media (max-width: 768px) {  
          font-size: 1rem;
        }
      }
    }
  
    .cta {
      button {
        font-size: 1.1rem;  
        @media (max-width: 1024px) {  
          font-size: 1rem;
        }
  
        @media (max-width: 768px) {  
          font-size: 0.9rem;
        }
      }
    }
  }
  .theme-toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--text-color);
  transition: color 0.3s ease;
}


  