@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.car-card-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.car-card-content {
  background-color: var(--background-color);  // Theme-aware background color
  color: var(--text-color);  // Theme-aware text color
  padding: 20px;
  border-radius: 10px;
  width: 40%;
  max-width: 400px;
  text-align: center;
  height: auto;
  transition: background-color 0.3s ease, color 0.3s ease;

  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  h2 {
    margin: 10px 0;
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .price {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .close-btn {
    background-color: var(--secondary-color);  // Theme-aware button color
    color: var(--text-color);  // Theme-aware text color
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}
