$light-theme: (
  background-color: #ffffff,
  text-color: #333333
);

$dark-theme: (
  background-color: #333333,
  text-color: #ffffff
);

.theme-light {
  background-color: map-get($light-theme, background-color);
  color: map-get($light-theme, text-color);
}

.theme-dark {
  background-color: map-get($dark-theme, background-color);
  color: map-get($dark-theme, text-color);
}
